@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="word-wrap:break-word;" id="fill">Podle</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="col-md-12 form-group">
                <label for="exampleInputEmail1">Your salary</label>
                <input id="change" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Put your poor salary here">
                <small id="emailHelp" class="form-text text-muted">Pooodle it!</small>
            </div>
        </form>
       
        <script>
            var x = document.getElementById("change");
            var y = document.getElementById("fill");
            x.addEventListener('input', function (evt) {
                var podle = "Podle";
                var salary = x.value;
                var goodSalary = Number(salary);
                if (goodSalary != NaN) {
                    podle = "Po";
                    var count = 4000;

                    while (count < goodSalary) {
                        podle += "o";
                        count += 4000;
                    }
                    
                    podle += "dle";
                }
                y.innerHTML = podle;
            });
            
        </script>
    </div>
</div>